header {
    text-align: center;
    color: red;
    font-size: 2em;
}
body {
    margin: 0; 
    padding: 0;
    background-color: rgb(199, 185, 185);
}
.underline {
    border-bottom: 10px solid green;
}